<div>
  <!-- <p>You can easily send messages from the popup to the content page with the provided Tab ID!
    (tabId=<strong>{{ tabId }}</strong>)</p> -->

  <form *ngIf="form" [formGroup]="form">
      <input 
        formControlName="apiKey" 
        type="text" 
        placeHolder="apiKey" />
      
      <input 
      formControlName="project"
      type="text"
      list="yourProjectList" 
      placeholder="select your project" 
      autocomplete="off">
      
      <datalist id="yourProjectList">
        <option *ngFor="let project of projectList">{{ project.name }}
      </datalist>
      
      <button (click)="callBacklogApi()" type="button">
        call backlog api
      </button>

  </form>

  <div *ngIf="myInfo$ | async as myInfo">

    apiKey: {{ myInfo?.apiKey || "no apiKey set" }}
  
  </div>
  
  <div>

    <button (click)="loadBacklogProject()" type="button">
      loadBacklogProject
    </button>

  </div>

  <div>

    

  </div>
  
  <!-- <button (click)="onClick()">Click me to test</button> -->
  
  <!-- <p><strong>{{ message }}</strong></p> -->

  
</div>