<div>
  <!-- <p>You can easily send messages from the popup to the content page with the provided Tab ID!
    (tabId=<strong>{{ tabId }}</strong>)</p> -->

  <form *ngIf="form" [formGroup]="form">
      <input 
        formControlName="apiKey" 
        type="text" 
        placeHolder="apiKey" />
      
        <button (click)="setInfo()" type="button">
          Api Set
        </button>

      <input 
        formControlName="project"
        type="text"
        list="yourProjectList" 
        placeholder="select your project" 
        autocomplete="off">

      <datalist id="yourProjectList">
        <option *ngFor="let project of projectList">{{ project.name }}
      </datalist>

      <input 
      formControlName="milestone"
      type="text"
      list="yourMilestoneList" 
      placeholder="select your milestone" 
      autocomplete="off">

    <datalist id="yourMilestoneList">
      <option *ngFor="let milestone of milestoneList">{{ milestone.name }}
    </datalist>
      
      <button (click)="callBacklogApi()" type="button">
        call backlog api
      </button>

    <ul>
      <li *ngFor="let issue of issues">{{issue.issueKey}} | {{ issue.estimatedHours }} </li>
    </ul>

  </form>

  <div *ngIf="myInfo$ | async as myInfo">

    apiKey: {{ myInfo?.apiKey || "no apiKey set" }}
  
  </div>
  
  <div>

    <button (click)="loadBacklogProject()" type="button">
      loadBacklogProject
    </button>

    <button (click)="loadBacklogMilestone()" type="button">
      loadBacklogMilestone
    </button>

    <button (click)="loadIssues()" type="button">
      loadIssues
    </button>

  </div>

  <div>

    <button (click)="onClick()">Click me to test</button>
    <p><strong>{{ message }}</strong></p>
    

  </div>
  
  
  
</div>